<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636879465201-g0uba5avf82hh6elv6ee17emu1utpo5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636879465201-g0uba5avf82hh6elv6ee17emu1utpo5i</string>
	<key>API_KEY</key>
	<string>AIzaSyDFrYbpj8urhZuyg10ttOb-mBQbGjsRJk4</string>
	<key>GCM_SENDER_ID</key>
	<string>636879465201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VictorGaritskyu.ZapFitness</string>
	<key>PROJECT_ID</key>
	<string>zapfitnessapp</string>
	<key>STORAGE_BUCKET</key>
	<string>zapfitnessapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636879465201:ios:671390255a76cf81d0d750</string>
</dict>
</plist>